%div.home{"ng-controller"=>"CategoryController as categoryController"}
  %h4.title
    A curated list of studios and schools for people who move.
  %nav.category-menu.menu.menu--trinculo
    %ul.menu__list
      - @categories.each_with_index do |cat, updateFilter|
        %li.menu__item{"ng-init" => "updateFilter('#{cat.name.downcase}');", "ng-class" => "addCurrentClass('#{cat.name.downcase}')"}
          %a.menu__link{"ng-click" => "updateFilter('#{cat.name.downcase}');"} #{cat.name}
  %ul#rb-grid.rb-grid.clearfix
    - @resources.each_with_index do |resource, index|
      %li{ :class => "animated #{Category.find(resource.category.first).name.downcase} ico-#{Category.find(resource.category.first).name.downcase} rb-span-#{(index%21%8 == 0)? 2 : 1}", "ng-show" => "inList('#{Category.find(resource.category.first).name.downcase}')"}
        %div.brand{"ng-click"=>"map#{resource.__id__} = getMapUrl('https://www.google.com/maps/embed/v1/place?q=place_id:ChIJjx9f6OsEdkgRsWosuIP7Njs&key=AIzaSyA3aZfa51yc-MiMjZyToarr9BqUdx1A-S4')"}
          =image_tag asset_url(resource.logo.url), :size => "100x100", :class => "logo"
        %h3=resource.name
        %span.rb-code=resource.postcode
        - if resource.facebook?
          %a.fa.fa-facebook{:href => "http://www.facebook.com/" + resource.facebook}
        - if resource.twitter?
          %a.fa.fa-twitter{:href => "http://www.twitter.com/" + resource.twitter }
        - if resource.instagram?
          %a.fa.fa-instagram{:href => "http://www.instagram.com/" + resource.instagram}
        .rb-overlay
          %span.rb-close close
          .rb-week
            %div
              %span.rb-city=resource.name
              %span.icon-logo
                =image_tag resource.logo.url, :size => "300x300", :class => "logo"
              %span 21°C
            %div.map
              %iframe{"ng-src" => "{{map#{resource.__id__}}}", :frameborder => "0", :style => "border:0; width: 100%; height: 100%", :allowfullscreen => true}
            %div.sponsor
              %span Tue
              %span.icon-gymnastics
              %span 19°C
  %footer
    - if @affiliate && @affiliate.adv
      #{raw @affiliate.adv}
- content_for :on_ready do
  Boxgrid.init();
