%h1 Discounts
%div.offers
  - @offers.each do |offer|
    %div.bs-callout.bs-callout-info{:style => 'padding: 1em;'}
      %h2
        %a{:href => offer.link, :target => '_blank'}
          = offer.title.upcase
      %h5= offer.desc
      %p
        = raw displayBrandLogo(offer.brand.first)
      %p= 'By ' + offer.brand.first.title.upcase
      %p
        ='Use Code:'
        %strong
          %a{:href => offer.link, :target => '_blank'}
            = offer.code
      %p
        ='From '
        %strong
          = offer.startDate
        ='To '
        %strong
          = offer.endDate
