%h1 Discounts
%div{:style => 'width:100%; text-align:center; padding: 1% 15%'}
  - @offers.each do |offer|
    %div{:style => 'padding: 1em;'}
      %p
        = displayBrandLogo(offer.brand.first)
      %h2
        %a{:href => offer.link}
          = offer.title.upcase
      %h5= offer.desc
      %p= 'By ' + offer.brand.first.title
      %p
        ='Use Code:'
        %strong
          %a{:href => offer.link}
            = offer.code

= link_to 'New Offer', new_offer_path
