= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :logo
    = f.input :website
    = f.input :affilatelink
    = f.input :affiliate

  .form-actions
    = f.button :submit
