%h1 Listing posts

%table
  %tr
    %th Name
    %th Logo
    %th Website
    %th Affilatelink
    %th Affiliate
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.name
      %td= post.logo
      %td= post.website
      %td= post.affilatelink
      %td= post.affiliate
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
