%div.home{"ng-controller"=>"PlacesController as placesController", 'ng-init' => 'init()'}
  %h4.title
    A curated list of studios and schools in London for people who move.
  %nav.category-menu.menu.menu--trinculo
    %ul.menu__list
      - @categories.each_with_index do |cat, updateFilter|
        %li.menu__item{"ng-init" => "updateFilter('#{cat.name.downcase}');",
                        "ng-class" => "addCurrentClass('#{cat.name.downcase}')"}
          %a.menu__link{"ng-click" => "updateFilter('#{cat.name.downcase}');", "class" => "menu__#{cat.name.downcase}"} #{cat.name}
  %ul#rb-grid.rb-grid.clearfix.ng-cloak
    %li{ :class => "{{place.category[0].name}} ico-{{place.category[0].name | lowercase}} place-card",
          'data-url' => "{{place.slug}}",
          'data-name' => "{{place.name}}",
          "ng-class" => "getCardClass($index)",
          "ng-repeat" => "place in places | filter: categoryComparer(filters) ",
          "on-finish-render" => "ngRepeatFinished",
          "ng-click" => "popUp(place.id, place.name, place.category[0].name, place.slug);"}
      %div.brand
        %img{ :alt => "{{place.name}}", :class => "logo", :height => "100", "ng-src" => "{{place.logo}}", :width => "100"}
      %h3.card-title {{place.name}}
      %span.rb-code {{place.postcode}}
      %a.fa.fa-facebook{:href => "http://www.facebook.com/{{place.facebook}}", "ng-show" => "place.facebook", :target => '_blank'}
      %a.fa.fa-twitter{:href => "http://www.twitter.com/{{place.twitter}}", "ng-show" => "place.twitter", :target => '_blank'}
      %a.fa.fa-instagram{:href => "http://www.instagram.com/{{place.instagram}}", "ng-show" => "place.instagram", :target => '_blank'}
      -#= render partial: 'places/overlay', locals: { resource: resource }
      = render partial: 'places/overlay'
-#- content_for :on_ready do
-#  Boxgrid.init();