%modal.ng-hide{:title => "Add a new place", "ng-show" => "showModal"}
  = simple_form_for(Place.new,
                    url: "/api/v1/places",
                    method: :post,
                    remote: true,
                    html:{role: :form, 'data-model' => 'place'},
                    html:{"data-remote" => true, "data-url" => "/api/v1/places", "data-type" => :json, "class" => "simform"}) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name
      = f.input :website
      = f.input :facebook
      = f.input :twitter
      = f.input :instagram
      = f.input :logo
      = f.association :category

    %p.form-inputs *A new place won't appear on MVMT until an admin has approved it.  It has to at least have one social account in order to be considered to be approved.

    .form-actions
      = f.button :submit
