%ul
  %li= link_to 'About', about_path
  %li= link_to 'Terms', terms_path
  %li= link_to 'Advertise', advertise_path
  %li= link_to 'Affiliate', disclosure_path
  %li= link_to 'Github', 'https://github.com/nfelix/mvmt'