%h1= link_to I18n.t('brand.name'), root_path, class: 'bt-menu-brand'
%nav#bt-menu.bt-menu
  %a.bt-menu-trigger#bt-menu-trigger{:href => "#"}
    %span Menu
  - if user_signed_in?
    %div.dropdown.bt-user
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = render 'users/avatar', size: :thumb
        %b.caret
      %div.dropdown-menu
        - if current_user.is_admin?
          %div= link_to I18n.t('admin.link'), rails_admin_path, data: {"no-turbolink" => true}
        %div= link_to I18n.t('account.edit.link'), edit_user_registration_path
        %div= link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow
    - unless user_signed_in?
      %div= link_to I18n.t('auth.signup.link'), new_user_registration_path
      %div= link_to I18n.t('auth.login.link'), new_user_session_path
  %a.bt-add{:href => "#"}
    %span Add
  %ul
    %li
      %a{:href => request.base_url} MVMT
    %li
      = link_to 'About', about_path
  %ul.nav.navbar-nav.navbar-right
    %li{ :style => "font-size:1em; text-transform: uppercase; width: auto;" } Follow me on:
    %li
      %a.fa.fa-facebook{:href => "http://www.facebook.com/nfelix"} Facebook
    %li
      %a.fa.fa-instagram{:href => "http://www.instagram.com/felixtheng"} Instagram
    %li
      %a.fa.fa-twitter{:href => "http://www.twitter.com/felixtheng"} Twitter
    %li
      %a.fa.fa-google-plus{:href => "https://plus.google.com/u/0/+FelixNgHK"} Google+
