!!!
<!--

███╗   ███╗██╗   ██╗███╗   ███╗████████╗
████╗ ████║██║   ██║████╗ ████║╚══██╔══╝
██╔████╔██║██║   ██║██╔████╔██║   ██║
██║╚██╔╝██║╚██╗ ██╔╝██║╚██╔╝██║   ██║
██║ ╚═╝ ██║ ╚████╔╝ ██║ ╚═╝ ██║   ██║
╚═╝     ╚═╝  ╚═══╝  ╚═╝     ╚═╝   ╚═╝
https://github.com/nfelix/mvmt/

!-->
%html.no-js{lang: 'en'}
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"}
    %script{:src => "https://code.angularjs.org/1.5.3/angular-route.min.js"}
    %script{:src => "https://code.angularjs.org/1.5.3/angular-animate.min.js"}

    %script{:src => "https://www.dwin2.com/pub.268283.min.js", "async" => true}
    /%script{:src => "//load.sumome.com/", "data-sumo-site-id" => "8591f12b0d44f77831df88439e81d6e04019a689b99acf3253daf9736b0f90f2", "async" => true}
    %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-570384c0cbab44dc", "async" => true}
    :javascript
      var addthis_config = addthis_config||{};
      var addthis_share = addthis_share||{};
      addthis_config.data_track_clickback = false;
      addthis_config.data_ga_property = '#{ENV['GOOGLE_ANALYTICS_ID']}';
      addthis_config.data_ga_social = true;
      default_addthis_share = {
        title: 'MVMT - A curated list of studios and schools for people who move',
        url: '#{root_url}'
      }
    %meta{charset: "utf-8"}/
    %base{:href => "/"}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    = display_meta_tags
    %meta{property: 'fb:app_id', content: ENV['AUTH_FACEBOOK_KEY']}
    %link{:rel => :stylesheet, :href => 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    /[if lt IE 9]
      = javascript_include_tag 'ie', 'data-turbolinks-track' => true
    = javascript_include_tag 'head', 'data-turbolinks-track' => true
    = headjs_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
    = render 'layouts/airbrake'
  %body{class: "controller__#{controller_name} action__#{action_name}"}
    = render 'layouts/navigation'
    .container
      .main
        .errors__container
          = render 'layouts/messages'
        = yield
      .footer
        #{raw getRandomHorizontalAffiliate()}
      %footer.page__footer
        - if content_for? :footer
          = yield :footer
        - else
          = render 'layouts/footer'
    = render 'layouts/analytics'
    = render 'layouts/javascripts'
